@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Harmattan:wght@700&display=swap');

:root {
    --fontePrincipal: 'Happy Monkey', cursive;
    --fonteSubPrincipal: 'Harmattan', sans-serif;
    --corBranco: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: var(--fontePrincipal);
    color: #2E3E4D;
    max-width: 10000px;
    width: 100%;
}

.linha-preta {
    height: 30px;
    background-color: #2E3E4D;
}

#cabecalho {
    height: 450px;
    width: 100%;
    background-color: #B68A67;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-cafe {
    height: 420px;
    width: 345px;
    background: url(../img/Gonna\ enjoy\ my\ coffee\ with\ sweet\ treat.svg) center right no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.content {
    width: 690px;
    font-size: 38px;
    color: var(--corBranco);
    margin: 80px 30px;
}

.palavrasDestaque {
    color: #A2445E;
}

.contendo {
    width: 458px;
    text-align: center;
    margin: 20px auto;
}

.titulo-cafe {
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 15px;
}

.descricao-cafe {
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    margin-bottom: 13px;
}

.btn {
    width: 166px;
    height: 40px;
    background-color: #A2445E;
    border-radius: 6px;
    border: 0;
    color: var(--corBranco);
    font-size: 24px;
    font-family: var(--fonteSubPrincipal);
    cursor: pointer;
}

.imagens-cha-cafe {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.imagens-cha-cafe img {
    display: block;
    margin: 20px 20px;
}

.club-cafe {
    height: 60px;
    background: #B68A67;
    border-radius: 20px 20px 0px 0px;
    font-size: 24px;
    color: var(--corBranco);
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-cafe-grao img {
    width: 560px;
    display: block;
    margin: 20px auto;
}

.membership-card {
    font-size: 36px;
    text-align: center;
    margin-bottom: 24px;
}

.registration {
    height: 60px;
    background: #B68A67;
    border-radius: 0px 0px 20px 20px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--corBranco);
    margin-bottom: 76px;
}

.secao-cafes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-cafes {
    display: inline-block;
    width: 240px;
    margin-bottom: 20px;
}

.img-cafes img {
    width: 110px;
    height: 110px;
    padding: 3px;
}

.mini-content {
    width: 258px;
    margin-left: 37px;
}

.customers-fav {
    font-size: 24px;
    color: #7A4444;
    margin-bottom: 24px;
}

.descricao-customers {
    font-size: 16px;
    text-align: center;
    margin-bottom: 12px;
}

.btn-1 {
    margin-left: 50px;
    width: 160px;
    height: 40px;
    margin-bottom: 36px;
    cursor: pointer;
}

.brindando-cafes {
    background: url(../img/2-cafes-timtim.svg) no-repeat;
    width: 531px;
    height: 140px;
    margin: auto;
    margin-bottom: 40px;
}

.icons-sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.icons img {
    width: 73px;
    height: 70px;
    padding: 15px;
    background-color: #D9D9D9;
    margin: 15px;
    cursor: pointer;
}

footer {
    height: 90px;
    background-color: #2E3E4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    color: #fff;
    font-size: 24px;
}